@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Jaro:opsz@6..72&family=Permanent+Marker&display=swap');

@font-face {
    font-family: 'Paw';
    src: url('../fontes/Animal\ Paw.ttf');
}

@font-face {
    font-family: 'Some';
    src: url('../fontes/Some_Animal.ttf');
}

* {
    margin: 0px;
    top: 0px;
}

:root {
    --cor1: #FFFF00;
    --cor2: #E6B05A;
    --font1: 'Paw';
    --font2: 'Some';
}

body {
    background-image: url('../Imagens/patinhas-invisivel.png');
    font-family: 'Work Sans', Arial, Helvetica, sans-serif;
    font-weight: 800;
    font-size: 22px;
}

header {
    display: block;
    box-sizing: border-box;
    background-color: var(--cor1);
    background-image: url('../Imagens/patinhas.png');
    height: 220px;
    padding: 10px;
}

header div.logo {
    top: 0px;
    margin: 0px;
    width: 151px;
    margin-top: 20px;
    margin-left: 50px;
}

div.imagem-principal{
    position: absolute;
    left: 50%;
    transform: translate(-50%);
}

header nav {
    display: flex;
    position: absolute;
    left: 67%;
    transform: translate(-10%);
    margin-top: 35px;
    font-family: "Jaro", sans-serif;
    background-color: var(--cor1);
    height: 50px;
}

header > nav a {
    text-decoration: none;
    color: black;
    margin-right: 30px;
    font-weight: 600;
    font-size: 32px;
}


header nav a:hover {
    background: var(--cor1);
    color: blue;
}

.menu-toggle {
    display: none;
    font-size: 36px;
    background: none;
    border: none;
    cursor: pointer;
}


.home {
    text-align: center;
    align-items: center;
    justify-content: center;
}

.home h1 {
    font-family: var(--font2);
    font-weight: 900;
    font-size: 48px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.carrossel {
    background-color: var(--cor1);
    width: 85%; /* Largura total do carrossel */
    height: 100%;
    overflow: hidden;
    border-radius: 10px;
    padding: 15px;
    margin: auto;
}

.carousel-container {
    display: flex;
    transition: transform 0.5s ease-in-out;
    height: 300px;
}

.slide {
    height: 100%;
    width: 90%; /* Largura fixa para cada imagem */
    margin: 0px 12px 0px 0px;
}

.slide img {
    width: 400px;
    height: 300px;
    border-radius: 10px;
}

.home p {
    margin-top: 30px;
    margin-bottom: 30px;
    font-family: var(--font2);
    font-weight: 800;
    font-size: 38px;
    background-color: white;
    padding: 5px;
}

footer {
    background-color: var(--cor1);
    margin: 0%;
    bottom: 0%;
    left: 0%;
    margin-top: 100%;
}

  footer p {
    display: block;
    text-align: center;
    align-items: center;
    font-weight: 400;
    font-size: 16px;
    padding: 7px;
  }

  /*
  footer {
    position: absolute;
    background-color: var(--cor1);
    color: black;
    padding: 10x;
    bottom: 0%;
    left: 0;
    top: 100%;
    width: 100%;
    height:30px;
  }
    */

@media screen and (max-width: 1315px) {
    header nav {
        left: 60%;
        transform: translate(5%);
    }
    header nav a{
        font-size: 30px;
    }
}

@media screen and (max-width: 1033px) {
    header nav {
        left: 50%;
        transform: translate(20%);
    }
    header nav a{
        font-size: 30px;
        margin-right: 20px;
    }
}

/* Estilo do menu para telas pequenas */
/* Melhorias no menu responsivo */
@media (max-width: 898px) {
    header nav {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 0%;
        left:63%;
        width: 25%;
        height: 50px;
        text-align: center;
        transition: all 0.3s ease-in-out;
    }

    header nav.active {
        display: flex;
    }

    header > nav a {
        padding: 15px;
        display: block;
        font-size: 22px;
        font-weight: 800;
        background: var(--cor1);
    }

    header nav a:hover {
        color: blue;
    }
    
    .menu-toggle {
        display: flex;
        position: absolute;
        margin-left: 92%;
        margin-top: 30px;
    }
}